<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>ChatWebSocketServlet</servlet-name>
        <servlet-class>delightex.server.ChatWebSocketServlet</servlet-class>
        <init-param>
            <param-name>maxTextMessageSize</param-name>
            <param-value>200000</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>delightex.Chat ChatService</servlet-name>
        <servlet-class>delightex.server.ChatServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChatWebSocketServlet</servlet-name>
        <url-pattern>/wschat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delightex.Chat ChatService</servlet-name>
        <url-pattern>/delightex.Chat/ChatService</url-pattern>
    </servlet-mapping>
</web-app>